.loadingStyle {}

.btnStyle {

}

.cardBody>.customControl .customControlLabel {
  font-weight: bold;
}

.customControlLabel::before {
  background-color: #fff;
  border: #adb5bd solid 1px;
}

.customControlInput:checked~.custom-controlLabel::before {
  border-color: #007bff;
}

.customControlInput:focus~.custom-controlLabel::before {
  box-shadow: 0 0 0 #fff, 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.header {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

.logo {
  height: 5rem;
  margin-bottom: 0.5rem;
  width: 5rem;
}

.flag {
  border: 1px solid #eee;
  height: 17px;
  line-height: 0;
  margin-right: 6px;
  position: relative;
  top: -2px;
  width: 22px;
}

.btnLoad {
  padding: .375rem 1.25rem;
}

.mapSettings {
  margin-top: 1rem;
}

.mapContainer {
  border-radius: 0.25rem;
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  .noMaps {
    margin-bottom: 8rem;
  }
}

.footer {
  background-color: #e9ecef;
  border-top: 1px solid #dee2e6;
  margin-top: 4rem;
  padding: 1rem 0;
  text-align: center;
}
